 <footer class="main-footer">
        <div class="container footer-container">
            <div class="footer-logo">
                <img src="images/yeseren-umutlar-anaokulu-logo.png" alt="Yeşeren Umutlar Anaokulu Logo" width="150" height="70">
                <p>Çocuklarımızın geleceği için en iyisini sunuyoruz.</p>
            </div>

            <div class="footer-links">
                <h3>Hızlı Linkler</h3>
                <ul>
                    <li><a href="index.html">Ana Sayfa</a></li>
                    <li><a href="index.html #blog">Etkinlikler</a></li>
                    <li><a href="hakkımızda.html">Hakkımızda</a></li>
                    <li><a href="iletişim.html">İletişim</a></li>
                </ul>
            </div>

            <div class="footer-contact">
                <h3>İletişim</h3>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Adres: Demirtaş Sakarya mahallesi Hastane caddesi no39/A,
                        Bursa 16245</li>
                    <li><i class="fas fa-phone"></i> Telefon: <a href="tel:+905374110350"> 0536 695 18 41</a></li>
                    <li><i class="fas fa-envelope"></i> Email: <a
                            href="mailto:ozelyeserenumutlaranaokulu@gmail.com">ozelyeserenumutlaranaokulu@gmail.com</a></li>
                </ul>
            </div>

            <div class="footer-social">
                <h3>Sosyal Medya</h3>
                <div class="social-icons">
                    <a href="https://www.instagram.com/ozelyeserenumutlaranaokulu/" aria-label="Instagram"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61574826497345" aria-label="Facebook"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="tel:+905374110350" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <p>&copy; 2025 Yeşeren Umutlar Anaokulu. Tüm hakları saklıdır.</p>
            </div>
        </div>
    </footer>