<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/hakkimizda.css">
</head>

<body>
    <!-- Header -->
    <%- include("partials/navbar") %>
    <section>
        <div class="hakkımızda">
            <h1>H A K I M I Z D A</h1>
        </div>
        <div class="container-hakkımızda">
            <P>Yeni Umutlar Anaokulu olarak, çocuklarımızın sevgi dolu bir ortamda güvenle büyümesini ve öğrenmesini
                sağlamak için buradayız. En değerli varlıklarınızı emanet ettiğinizin bilinciyle, her çocuğa özel ilgi
                gösteriyor; onların fiziksel, zihinsel, duygusal ve sosyal gelişimlerini bütüncül bir yaklaşımla
                destekliyoruz.

                Oyun temelli eğitim anlayışımızla, öğrenmeyi keyifli hale getiriyor; merak eden, keşfeden, kendini
                özgürce ifade edebilen bireyler yetiştiriyoruz. Alanında deneyimli, sevgi dolu öğretmen kadromuzla,
                çocuklarımızın ilk eğitim yolculuklarını unutulmaz ve verimli bir deneyime dönüştürüyoruz.

                Yeni Umutlar Anaokulu olarak hedefimiz; güçlü temeller üzerinde yükselen, mutlu, özgüvenli ve sorumluluk
                sahibi bireylerin yetişmesine katkı sağlamaktır. Her çocuğun eşsiz bir dünyası olduğuna inanıyor,
                onların bireysel farklılıklarına saygı duyuyoruz.

                Çocuklarımıza sağlıklı, güvenli ve ilham verici bir eğitim ortamı sunarken, velilerimizle güçlü bir
                iletişim ve iş birliği içinde ilerliyoruz. Çünkü biz, büyük umutların küçük adımlarla başladığını
                biliyoruz.</P>
            <img src="images/eğitim-kadro.png" alt="img">
        </div>


<%- include("partials/footer") %>
 
<script src="/js/scripts.js"></script>
</body>

</html>